<p>Student List</p>

<% @students.each do |student| %>
<p>Name: <a href="/students/<%= student.id%>"><%= student.format_name %></a></p>
<p>Age: <%= student.age %></p>
<p>House: <%= student.house.name.capitalize %></p>
<hr />
<% end %>
